.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page-item .page-link {
    background-color: #863655;
    color: #ffffff;
    border: none;
}

.page-item .page-link:hover {
    background-color: #682b42;
    color: #ffffff;
}

.page-item.active .page-link {
    background-color: #4a2032;
    color: #ffffff;
    border: none;
}

.page-item.disabled .page-link {
    display: none;
}

.header-red {
    background-color: #863655;
    color: #ffffff;
}

.bg-pending {
    background-color: #f8ff7d;
}

.bg-accepted {
    background-color: #93ff7d;
}

.bg-rejected {
    background-color: #ff7d81;
}
